h1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}
h2 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}

h3 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}

h4 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}
